.headerTitle {
  /* display: flex;
      align-items: center;
      padding-left: 12.5rem;
      padding-right: 12.5rem;
      z-index: 0;
      position: relative; */

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 3.125rem;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: flex;
  max-width: 66.25rem;
  align-items: center;
  width: 100%;
  padding-left: 12.1875rem;
}

.headerTitleNoPc {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 3.125rem;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  display: flex;
  max-width: 66.25rem;
  align-items: center;
  width: 100%;
  padding-left: 2.5rem;
}

.headerTitleLeft {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: none;
}

.headerTitleLeftText {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-right: 0.9375rem;
}

.headerTitleLeftContainer {
  width: 1.625rem;
  height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0.0625rem solid #e1e2e3;
  border-radius: 624.9375rem;
}

.headerTitleLeftContainer svg {
  overflow: hidden;
}

.headerLine {
  font-size: 1.75rem;
  line-height: 1.8125rem;
  padding: 0.1875rem 1.5rem 0;
  color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.625rem;
}

.headerTitleRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: none;
}

.headerTitleRightText {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  margin-right: 0.9375rem;
}

.headerTitleRightContainer {
  width: 1.625rem;
  height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0.0625rem solid #e1e2e3;
  border-radius: 624.9375rem;
}

.headerTitleRightContainer svg {
  overflow: hidden;
}

.headerMiddle {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  /* z-index: 2; */
  top: 3.75rem;
  margin-bottom: 1.875rem;
}

.headerMiddleNoPc {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  align-items: center;
  margin-right: auto;
  position: sticky;
  /* z-index: 2; */
  top: 3.75rem;
  margin-bottom: 1.875rem;
}

.headerFilter2 {
  display: flex;
}

.headerFilter2 button {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.9375rem;
  border: 0.0625rem solid #ececec;
  background-color: #fff;
  margin-right: 0.625rem;
  position: relative;
}

.headerRegion {
}

.headerRegionLeft {
  font: inherit;
  cursor: pointer;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: normal;
  color: #333;
  white-space: nowrap;
  margin-right: 0.9375rem;
}

.headerRegionRight {
  font: inherit;
  text-transform: none;
  cursor: pointer;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.875rem;
  letter-spacing: normal;
  white-space: nowrap;
  color: #36f !important;
  font-weight: 600;
  margin-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerFilterRightText {
  font-size: 0.8125rem;
}

.headerRegionRightOne {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #36f;
  border-radius: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerOld {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerOld svg {
  margin-left: 0.625rem;
}

.headerFilter2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 31.25rem;
   */
}

.headerFilterRight button {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.9375rem;
  border: 0.0625rem solid #ececec;
  background-color: #fff;
}

.headerStack {
  display: flex;
  justify-content: space-around;
}

.headerFilterRightButton {
  display: flex;
  justify-content: flex-end;
  margin-left: 10rem;
  width: 6.5rem;
}

.headerFilterRightButton svg {
  margin-left: 0.625rem;
}

.headerMiddleP {
  width: 74%;
  border-top: 0.0625rem solid #ececec;
  border-width: 50%;
  margin-left: 12.5rem;
}

.headerMiddlePNoPc {
  width: 95%;
  border-top: 0.0625rem solid #ececec;
  border-width: 50%;
}

.BottomSlickTrack {
  display: flex;
  height: 5.625rem;
  justify-content: center;
  align-items: center;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  overflow: hidden;
}

.BottomSlickTrackNoPc {
  height: 5.625rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 95%;
  overflow: hidden;
  flex-shrink: 0;
}

.BottomSlickTrackNoPc > button {
  white-space: nowrap;
}

.BottomSlickTrackNoPc .manyleftButton {
  position: absolute;
  left: 1.875rem;
  top: 17.9375rem;
}

.BottomSlickTrackNoPc .manyRightButton {
  position: absolute;
  top: 16.6875rem;
  right: 2.5rem;
}

.manyleftButton {
  position: absolute;
  left: 12.5rem;
  top: 1.5625rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #e1e2e3;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.manyleftButton svg {
  font-size: 1.125rem;
  color: #888;
}

.manyRightButton {
  position: absolute;
  right: 31.0625rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #e1e2e3;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.manyRightButton svg {
  font-size: 1.125rem;
  color: #888;
}

.headerBottom {
  display: flex;
  font-size: 0.875rem;
  color: #333333;
  user-select: none;
  box-sizing: border-box;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  position: sticky;
  top: 0.0625rem;
  z-index: 1;
  max-width: 82.5rem;
  overflow: hidden;
}

.headerBottomNoPc {
}

.headerLastP {
  border-bottom: 0.0625rem solid #ececec;
}

.headerLastP2 {
  border-bottom: 0.0625rem solid blue;
}

.BottomTrack1 {
  display: flex;

  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(242, 251, 245);
}

.BottomTrack1 img {
  user-select: none;
  font: inherit;
  text-transform: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.3125rem;
}

.BottomTrack2 {
  display: flex;

  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(243, 249, 254);
}

.BottomTrack3 {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(243, 242, 251);
}

.BottomTrack4 {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(246, 248, 238);
}

.BottomTrack5 {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(247, 242, 249);
}

.BottomTrack6 {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  position: relative;
  height: 2rem;
  padding: 0.5rem 0.875rem;
  border-radius: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  border: 0.0625rem solid transparent;
  background: rgb(238, 250, 249);
}

.BottomTrack2 img,
.BottomTrack3 img,
.BottomTrack4 img,
.BottomTrack5 img,
.BottomTrack6 img {
  user-select: none;
  font: inherit;
  text-transform: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  color: #333;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.3125rem;
}

.BottomTrackText {
  font-size: 0.75rem;
  margin: 0rem 0.5rem 0rem 0rem;
  padding: 0.5rem 0.875rem;
  color: #666;
  font-weight: 600;
}

.manyleftButton svg {
  margin-bottom: 0.9375rem;
  margin-right: 0.1875rem;
}

.manyRightButton {
  margin-top: 1.25rem;
}

.manyRightButton svg {
  margin-bottom: 0.9375rem;
  margin-right: 0.3125rem;
}

.headerContainerSti {
  position: sticky;
  top: 3.125rem;
  z-index: 2;
  background-color: white;
}

.headerContainerStiNoPc {
  width: 100%;
  padding-left: 2.5rem;
}
