.main {
  max-width: 1060;
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.insightclassName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insightclassName svg {
  margin-left: 5px;
}

.mainRightBanner {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 4px;
  right: -170px;
  padding: 20px;
  top: 110px;
}

.mainRightBanner img {
  width: 62px;
  margin: 0;
  padding: 0;
  border: 0;
}

.RightBannertop svg {
  font: inherit;
  text-transform: none;
  font-family: inherit;
  line-height: inherit;
  color: #ccc;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  font-size: inherit;
  overflow: hidden;
  margin-left: 5px;
}

.RightBannertop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.RightBannerMiddle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.mainRightBanner hr {
  border-top: 1px solid #eee;
}

.RightBannerTextBlue {
  color: #36f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.RightBannerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SvgIcon_SvgIcon__root__svg__DKYBi2 {
  color: #36f;
  width: 5px;
  height: 5px;
}

.insightClass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.insight {
  font-size: 21px;
}
.manyButton {
  width: 1040px;
  /* display: flex;
    justify-content: space-around;
    align-items: center;
    color: #888;
    margin: 10px 0; */
  overflow: hidden;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  color: #888;
  /* scroll-snap-align: start; */
  /* height: 40px; */
  /* margin-bottom: 50px; */
  position: relative;
  justify-content: center;
  align-items: center;
  /* max-width: 1029px; */
  margin-right: 20px;
}

.leftButtonContainer {
  background-color: #fff;
}

.manybuttonsMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  width: 40px;
  height: 40.5px;
}

/* .slick-slide{
    opacity: 0.5;
    flex-shrink: 0;
  } */

.manybuttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1130px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
}

.manyleftButton svg {
  font-size: 18px;
  color: #888;
}

.manybuttonsMenu {
  border-radius: 4px;
}

.manybuttonsMenu svg {
  color: #939393;
}

.buttonTexts {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  /* line-height: 146.7%; */
}

.manybuttons {
  background: none;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid #e1e2e3;
  height: 40px;
  text-align: center;
  flex-shrink: 0;
  padding: 9px 22px;
  z-index: 1;
}

.manyleftButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e3;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.manyRightButton {
  position: absolute;
  top: 0;
  right: -2px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e2e3;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

/* 
  .leftClick, .companylife, .career, .curture, .passmove, .leader, .personrel, .lifestyle, .leftClick, .ittech, .contents, .develop, .service, .marketing, .md, .hr, .data, .design, .nomu, .branding, .manage, .uxui, .rightClick, .menu :hover{
      background: #888;
      min-width: 64px;
      box-sizing: border-box;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
  } */

.manyButton button:hover {
  background: rgb(207, 199, 199);
}

.gridContnaier {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-rows: 350px 380px;
  grid-template-columns: 284px 284px 284px 284px;
  padding-right: 200px;
  padding-left: 200px;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.grid5,
.grid6,
.grid7,
.grid8 {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.grid1footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.grid1footer img {
  border-radius: 50%;
  border: 1px solid #ececec;
  width: 30px;
  height: 30px;
}

.grid1footer p {
  color: #aaa;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  margin-left: 10px;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 17px 0 8px;
}

.subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #aaa;
}

.moreContents {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(218, 208, 208);
  margin: auto 0;
}

.buttonMoreContents {
  /* background: white;
      width: 345px;
      border: 1px solid;
      padding: 0 27px; */

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  font-family: inherit;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #36f;
  height: 50px;
  font-size: 16px;
  width: 345px;
  border-color: #e1e2e3 !important;
  color: #333 !important;
  margin-bottom: 40px;
}

.textMoreContents {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  font: inherit;
  text-transform: none;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: inherit;
}

.SvgIcon_SvgIcon__root__svg__DKYBi2 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  font: inherit;
  text-transform: none;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  font-weight: inherit;
  color: #fff;
  box-sizing: border-box;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  font-size: inherit;
  overflow: hidden;
  margin-left: 5px;
}

.articleContainer3 {
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin: 0 5px;
}

.articleCenterText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleText {
  font-size: 22px;
  margin-bottom: 5px;
}

.articleTop button {
  background: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e1e2e3;
  font-size: 16px;
  color: #767676;
}

.articleWhole {
  font-size: 15px;
  text-decoration: none;
  /* margin: 5px 0 0; */
  font-weight: 500;
  color: #767676 !important;
}

.bottomContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 240px;
  margin-bottom: 50px;
  margin-left: 17px;
  width: 100%;
}

.bottomContainer2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 240px;
  width: 100%;
}

.articleBottom {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.articleBottom a {
  text-decoration: none;
}

.articleBottom img {
  width: 250px;
  height: 175px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.bottomTitle {
  width: 250px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.bottomTag {
  margin-top: 10px;
  color: rgb(122, 122, 122);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 17px;
}

.articleContainer2 {
  margin-top: 50px;
  border-top: 1px solid rgb(228, 226, 226);
}

.vodContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomTitle1 {
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  list-style: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 10px 0;
  font-weight: 600;
  color: #333;
  display: -webkit-box;
  text-overflow: ellipsis;
  font-size: 13px;
}

.bottomTitle2 {
  width: 270px;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  list-style: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  font-weight: 700;
  color: #333;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.5;
}

.bottomTag3 {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  line-height: 1.42857143;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  list-style: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 8px;
  font-weight: 600;
  color: #aaa;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 13px;
}

.contentsRecommentclassName {
  margin-top: 60px;
  background-image: linear-gradient(
    90deg,
    #01a9fe -12%,
    #2f5fef 37%,
    #046afe 72%,
    #00d2dd 110%
  );
  /* background-color: #36f; */
  border-radius: 38.5px;
  padding: 21px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentsRecomment {
  font-size: 17px;
  color: #fff;
  font-weight: 700;
}

.bottomContainer3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 14px;
}

.articleBottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  overflow: hidden;
}

.articleBottom2 {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  overflow: hidden;
}

.articleBottom3 img {
  width: 95%;
  height: 273px;
  object-fit: cover;
}

.articleBottom3 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.EventKinds_EventKind__text__sYu5A {
  color: #ff9100;
  border-color: #ff9100;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  padding: 0 6px;
  box-sizing: border-box;
  margin-top: 10px;
}

.EventKind EventKinds_EventKind__eWUu8 is-online2 {
  display: flex;
  border-radius: 2px;
  border: 1px solid;
  height: 20px;
}

.bottom3online {
  width: 57px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  border: 1px solid;
  box-sizing: border-box;
  border-color: #1c1c1c;
  background-color: #1c1c1c;
  margin-right: 5px;
  color: #fff;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 700;
  padding: 0 6px;
}

.buttonsTag {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  border: 0;
}

.EventKinds_EventKind__text__sYu5C {
  color: #a149e4;
  border-color: #a149e4;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
  justify-content: center;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 6px;
  margin: 0;
}

.bottom3Title {
  font-size: 16px;
  margin: 8px 0px 0px;
  font-weight: 600;
  color: #333333;
}

.bottom3SubTitle {
  font-size: 13px;
  color: #aaa;
  margin: 3px 0px 0px;
  font-weight: 550;
}

.footbanner {
  max-width: 1536px;
  font-size: 14px;
  height: 278px;
  color: #333333;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  margin-top: 60px;
  background-color: #f7f7f7;
}

.leftbanner {
  height: 158px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.topbanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reason {
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  border: 0;
  margin: 0;
}

.middlebanner {
  font-size: 14px;
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.bannerwantedsvg {
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  font-weight: 700;
  width: 160px !important;
  height: 31px !important;
  margin-top: 4px;
  flex-shrink: 0;
  font-size: inherit;
}

.bottombanner {
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  margin: 0;
  min-width: 64px;
  border-radius: 25px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  background-color: #36f;
  height: 50px;
  font-size: 16px;
  width: 260px;
  margin-top: 25px;
  display: flex;
}

.bannerbutton {
  background-color: #36f;
  border: none;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  line-height: normal;
  cursor: pointer;
  margin: 0;
  border: 0;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.rightbanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightbanner img {
  width: 500px;
  height: 158px;
}

.recruitInformContainer {
  display: flex;
  flex-direction: column;
}

.recruitInformTop {
  display: flex;
  justify-content: center;
  margin: 0px 0px 30px;
  padding: 60px 0px 0px;
}

.recruitInformText {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}

.recruitInformBottom {
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  width: 1120px;
  height: 100px;
  justify-content: center;
  border: 1px solid #ececec;
  border-radius: 4px;
  color: #333;
  margin-left: 200px;
}

.recruitInformfirst,
.recruitInformSecond,
.recruitInformThird,
.recruitInformFourth {
  font-size: 14px;
  color: #333;
  border: 0;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 0 0;
  border-right: 1px solid #ececec;
  width: 25%;
}

.InformBottomFirsta {
  text-decoration: none;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  line-height: normal;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: inherit;
  font-size: 15px;
  font-weight: 600;
}

.InformBottomSeconda svg {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 32px;
  height: 32px;
}
