@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css%22');

@font-face {
  font-family: 'icomoon';
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930');
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix')
      format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930')
      format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930')
      format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930')
      format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930');
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix')
      format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930')
      format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930')
      format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930')
      format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.searchBarContaineroff {
  display: none;
}

.searchBarContaineron {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  /* bottom: 230px; */
  /* padding: 0 190px; */
  /* padding-top: 60px; */
  width: 100%;
  /* height: 250px; */
  height: 100%;
  /* bottom: ; */
  top: 10px;
}

.searchInputWhite {
  padding: 0 190px;
  height: 250px;
  width: 100%;
  background-color: #fff;
}

.searchBlack {
  height: 100%;
  background-color: rgba(76, 76, 76, 0.7);
}

.formSearch {
  margin-top: 40px;
}

.formSearch form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchIconInput {
  position: relative;
  left: 40px;
}

.formSearch form input {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 36px 0 60px;
  border: 1px solid #f2f4f7;
  border-radius: 25px;
  background-color: #f2f4f7;
  overflow: hidden;
  width: 1130px;
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

.formSearch form input:focus {
  background-color: #fff;
  outline-color: rgb(162, 162, 214);
}
.tagTop {
  display: flex;
  align-items: center;
  width: 1130px;
  justify-content: space-between;
  margin: 0 17px;
  margin-top: 50px;
}
.tagTop Link {
  text-decoration: none;
}

.tagBottom {
  width: 1130px;
  display: flex;
  padding-bottom: 50px;
}
.tagTopLeft {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  line-height: 20px;
}

.tagTopRight {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #767676 !important;
}

.tagUl {
  width: 1130px;
  list-style: none;
  flex-direction: row;
  display: block;
  float: left;
  margin-left: 10px;
  padding-left: 0;
}

.tagListItem {
  display: block;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #333;
  float: left;
  margin-right: 20px;
}

.tagListButton1 {
  background: #f0f8f8;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 0 26px;
  border-radius: 25px;
  border: none;
}

.tagListButton2 {
  background: #eeedf4;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 26px;
  border-radius: 25px;
  border: none;
}

.tagListButton3 {
  background: #e8edf3;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 26px;
  border-radius: 25px;
  border: none;
}

.tagListButton4 {
  background: #e9f4fb;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 26px;
  border-radius: 25px;
  border: none;
}

.tagListButton5 {
  background: #effbf3;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 26px;
  border-radius: 25px;
  border: none;
}
