@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css%22");

@font-face {
  font-family: "icomoon";
  src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930");
  src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix")
      format("embedded-opentype"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930")
      format("woff2"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930")
      format("truetype"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930")
      format("woff"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "icomoon";
  src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930");
  src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix")
      format("embedded-opentype"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930")
      format("woff2"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930")
      format("truetype"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930")
      format("woff"),
    url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 20px;
  border-bottom: solid 1px grey;
  background-color: #fff;
  position: sticky;
  z-index: 3;
  top: 0;
}

.logowanted img {
  width: 17px;
  height: 14px;
  object-fit: contain;
}

.positioning {
  position: relative;
}

.positioning em {
  position: absolute;
  top: 0;
  right: 0;
}

.logowanted {
  /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    --nav-height: 50px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    font-family: Pretendard,Pretendard JP,Pretendard Std,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; */
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.wantedTitle {
  display: flex;
  align-items: center;
}

.hamburgerbar {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  margin-top: -2px;
  margin-right: 15px;
}

.wantedTitle {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: inherit;
  cursor: pointer;
  display: block;
  color: inherit;
}

/* .icon-logo_new {
  /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --nav-height: 50px;
    cursor: pointer;
    color: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 20px; */
/* font-size: 17px;
  font-family: "icomoon" !important;
}  */

.icon-logo_new {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --nav-height: 50px;
  color: #333;
  text-align: center;
  font-size: 16px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon-logo_new:before {
  content: "\e992";
}

.headermenu {
  --nav-height: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  list-style: none;
  height: inherit;
  text-align: center;
  margin: 0 50px;
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  align-items: center;
}

.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recruit,
.event,
.partpay,
.jobpaper,
.community,
.freejob,
.aipass {
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  list-style: none;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  border: 0;
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
  position: relative;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 0;
  font-size: 14px;
  color: inherit;
}

.community {
  position: relative;
}

.community em {
  color: blue;
  position: absolute;
  top: 3px;
}

.aipass em {
  color: blue;
  position: absolute;
  top: 3px;
}

.login {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  list-style: none;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  border: 0;
  background: none;
  height: 100%;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1.4;
  margin-right: 15px;
  margin-left: 10px;
  padding: 0 3px;
}

.companyService {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  --nav-height: 50px;
  font-family: Pretendard, Pretendard JP, Pretendard Std, -apple-system,
    system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
    Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  list-style: none;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: inherit;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  font-weight: 400;
  margin-left: 20px;
}
