.mainPositionContainer {
  position: relative;
}

.RecruitConiner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.slide2 {
  width: 700px;
  height: 490px;
  margin-left: 200px;
}

.slick-prev.slick-arrow {
  left: 10px;
  z-index: 1;
  font-size: 26px;
  color: #b5b5b5;
  background: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 100%;
}

.slick-prev.slick-arrow::before {
  border: none;
  width: 30px;
  opacity: 0.1;
  font-size: 26px;
  background-color: transparent;
  content: none;
}

.slick-prev.slick-arrow {
  display: none;
}

.slick-prev:before {
  content: '';
}

.slick-prev:before {
  color: #b5b5b5;
  font-size: 26px;
}

.slick-next.slick-arrow {
  right: 10px;
  z-index: 1;
  font-size: 26px;
  color: #b5b5b5;
  background: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 100%;
}

button.slick-arrow.slick-prev::before {
  display: none;
}

.slick-next.slick-arrow::before {
  font-size: 26px;
  border: none;
  width: 30px;
  opacity: 0.1;
  font-size: 26px;
  background-color: transparent;
}

.slick-arrow.slick-prev {
  text-indent: -9999px;
}

.slick-arrow.slick-next {
  text-indent: -9999px;
}
.slick-dots {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  position: relative;
  display: flex !important;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.slick-dots li {
  width: 217px !important;
  height: 10px !important;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-radius: 25px;
}

.slick-dots li.slick-active {
  background-color: rgb(196, 194, 194);
}

.slick-dots li button::before {
  content: none !important;
}

.sliderImg2 img {
  width: 100%;
  height: 100%;
}
.leftSubTitle {
  display: flex;
}

.mainTitle {
  font-size: 22px;
  font-weight: 800;
  margin-left: 0;
}

.leftSubTitle {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.subTitle1 {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}

.subTitle2 {
  border: 1px solid #36f;
  color: #36f;
  border-radius: 2px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  padding: 0 5px;
  margin: 0 10px;
}

.subTitleRight {
  display: flex;
  align-items: center;
}

.subTitle3,
.subTitle4,
.subTitle5 {
  color: #999;
  font-size: 14px;
}

.subTitle4 {
  margin: 0 5px;
  margin-bottom: 10px;
}

.leftBottomTag {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.leftBottomTag li {
  line-height: 1;
  padding: 9px 18px;
  background-color: #f3f5f8;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBottomTag li span {
  font-size: 11px;
  font-weight: 600;
  color: #333;
}

.longText {
  margin-top: 40px;
}

.longText span {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.75;
}

.longText a {
  text-decoration: none;
  color: #444444;
}

.longText h6 {
  font-weight: 600;
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
}

.techStackTools {
  display: flex;
  grid-gap: 10px 8px;
  gap: 10px 8px;
  border-bottom: 1px solid rgb(216, 212, 212);
  padding-bottom: 50px;
}

.SkillItem_SkillItem__E2WtM {
  background-color: #e4f4ec;
  border-radius: 20px;
  padding: 9px 14px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 600;
}

.mapTitle {
  margin-bottom: 20px;
}

.mapTitleLeft {
  color: #999;
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 45px;
}

.mapTitleRight,
.mapSubTitleRight {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.mapSubTitleLeft {
  color: #999;
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 30px;
}

.imgMap img {
  margin-top: 20px;
  width: 700px;
  height: 254px;
  object-fit: fill;
  margin-bottom: 70px;
}

.bottomBanner {
  display: flex;
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.bottomBannerText {
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 5px;
  padding-right: 10px;
}

.firstSubText {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  padding-right: 10px;
  line-height: 1.1;
}

.bottomBanner2Text {
  margin: 0 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
}

.bottomBannerLogo img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  object-fit: contain;
  margin-right: 10px;
}

.bottomBannerLeftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomBannerButton button {
  border: 1px solid #e1e2e3;
  height: 40px;
  font-size: 15px;
  color: #36f;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  padding: 0 27px;
  font-weight: 700;
}

.bottomBanner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f3f5f8;
  padding: 25px 30px;
  box-sizing: border-box;
}

.bottomBanner2svg {
  margin-right: 15px;
}

.bottomBanner2Left {
  display: flex;
  align-items: center;
}

.bottomBanner2Left span {
  margin: 0;
}

.bottomBanner2 button {
  background: none;
  border: none;
}

.bottomBanner2 button svg {
  line-height: 1;
  height: 10px;
}

.mainRightTitleButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e1e2e3;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.mainRightTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  right: 240px;
  width: 340px;
}

.mainRightTitle {
  font-size: 15px;
  font-weight: 600;
}

.mainRightMiddle {
  display: flex;
  margin-top: 20px;
}

.mainRightMiddleLeft {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.mainRightMiddleLeftTitle {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  margin-bottom: 8px;
}

.mainRightMiddleLeftSub {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.mainRightMiddleRight {
  display: flex;
  flex-direction: column;
}

.mainRightButtons {
  display: flex;
  flex-direction: column;
}

.RightTopButton {
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #36f;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  color: #36f;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightTopButton span {
  margin-right: 10px;
}

.RightTopButton span svg {
  margin-top: 5px;
}
.RightbottomButton {
  height: 50px;
  border-radius: 25px;
  background-color: #36f;
  border: none;
}

.RightbottomButton span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.mainRightBottoms {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.heartNumber {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e1e2e3;
  margin-right: 12px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

/* .heartNumber svg {
  content: "\e99b";
  width: 16px;
  height: 16px;
  margin-right: 10px;
} */

.icon-ic_favorite_black_24px:before {
  content: '\e99b';
  margin-right: 5px;
}

.icon-ic_favorite_black_24px:before {
  font-size: 16px;
  color: #dbdbdb;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.heartNumber span {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.profilesButton {
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  border: none;
}

.profilesButton ul {
  display: flex;
  width: 58px;
  height: 30px;
  position: relative;
}
.profilesButton li {
  list-style: none;
}

.profilesButton img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
}

.profilesButtonimg2 {
  position: absolute;
  left: 25px;
}

.profilesButtonimg3 {
  position: absolute;
  left: 10px;
}

.mainGridContainer {
  padding-bottom: 10px;
}

.line {
  padding-top: 50px;
  height: 1px;
  border-bottom: 1px solid rgb(236, 236, 236);
  margin: 0 -20% 0 -25%;
}

.gridContainer {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 270px 270px 270px 270px; */
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 385px 385px;
}

.gridContainerFirst {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
}

.gridContainerFirst img {
  width: 100%;
  height: 100%;
}

.gridContainerFirst footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gridTitle {
  margin-top: 15px;
}

.gridContainerFirst header {
  display: flex;
  flex-direction: column;
  height: 187px;
}

.gridContainer a {
  text-decoration: none;
}

.gridTitle {
  color: #333;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
}

.bookmarkButton {
  position: absolute;
  z-index: 1.5;
  right: 5px;
  width: 22px;
  height: 22px;
  top: 8px;
}

.gridTitle2 {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  font-weight: 600;
}

.gridTitle3 {
  font-size: 14px;
  margin-top: 10px;
  color: #999999;
  display: flex;
  align-items: center;
}

.addressDot {
  margin: 0 4px;
  margin-bottom: 7px;
}

.gridTitle4 {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.gridButton {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  width: 90px;
  margin-top: 4px;
  padding: 0 5px;
}

.mainContainerTitle {
  margin: 90px 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 10px 0;
}

.footer a {
  text-decoration: none;
}

.footerInfo {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.6;
  color: #3a3a3a;
}
.footerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLeftText {
  display: flex;
}

.footerInfo {
  margin-right: 40px;
}

.footerLogo {
  margin-right: 50px;
}

.footerRight a {
  margin-right: 5px;
}

.footerBoottom {
  margin-top: 15px;
  display: flex;
  margin-bottom: 10px;
}

.footerBoottom p {
  font-size: 12px;
  font-weight: 500;
  color: #767676;
  margin-right: 40px;
  margin-bottom: 70px;
}

.bodyFooterButton {
  width: 100%;
  bottom: 0;
  margin: 0;
  position: fixed;
  background-color: #258bf7;
  z-index: 2;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.language {
  display: flex;
  width: 250px;
  height: 36px;
  background-color: #f2f4f7;
  align-items: center;
}

.language img {
  width: 24px;
  height: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.languageChoice {
  border: none;
  color: #717171;
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
  background-color: #f2f4f7;
  padding-right: 40px;
}

.bodyFooterButtonText {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.bodyFooterButton button {
  width: 118px;
  height: 40px;
  line-height: 40px;
  color: #258bf7;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.gridContainer {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 270px 270px 270px 270px; */
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 385px 385px;
}

.gridContainerFirst {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
}

.gridContainerFirst img {
  width: 100%;
  height: 100%;
}

.gridContainerFirst footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gridTitle {
  margin-top: 15px;
}

.gridContainerFirst header {
  display: flex;
  flex-direction: column;
  height: 187px;
}

.gridContainer a {
  text-decoration: none;
}
